.card {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.description {
  text-align: justify;
  margin-bottom: 30px;
}
