.card {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  color: black;
  background-color: white;
}

.displayContents {
  display: contents;
}
